# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.nb-gradle/
/VKO4/viikko4/MaksukorttiMockito/.nb-gradle/
/VKO4/viikko4/MockitoDemo/.nb-gradle/
/VKO4/MaksukorttiMockito/.nb-gradle/
/VKO4/MockitoDemo/.nb-gradle/
/VKO4/IntJoukkoSovellus/.nb-gradle/